@font-face {
  font-family: "SFPRO";
  src: url("/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400; /* Regular */
}

body {
  font-family: "SFPRO", sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

button,
input,
textarea {
  font-family: "SFPRO", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  &:hover {
    color: gray;
    scale: 1.02;
  }
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
}
